name: DevOps Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run echo command
        run: echo "Push detected on main branch! Workflow executed successfully"